{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rules</title>

    <link rel="stylesheet" href="{% static 'CSS/userprofile.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/base.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/navbar.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="container1" id="dropdown">
            <button class="dropbtn">Menu
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/HomepagePMM">Home</a>
              <a href="/Product">Products</a>
              <a href="/Order">Orders</a>
              <a href="/Commission Sheet">Commission</a>
              <a href="Reservation">Reservation</a>
              <a href="User Profile">User Profile</a>
              <a href="Rules and Regulation">Rules</a>
            
            </div>
          </div>

        <div class="container1" id="container1">
            <li class="inline">    
                <a href="#">Contact US</a> 
                
            </li>
            <li class="inline">|</li>
            <li class="inline">
                <a  href="#">Sign Up</a>
            </li>
            <li class="inline">|</li>
            <li class="inline">
                <a  href="#">Training Guide</a>
            </li>
        </div>
        
    </div>    

    <div class="full-page">
        <h2>User Profile</h2> 
    </div>
    <div>

                 
        <ul class="nodecor">
            <li class="lists"> <h3 class="inline12">1 - Refund after review for all products.</h3> </li>

            <li class="lists"> <h3 class="inline12">2 - When there is stoped on Any product - Stop Orders for that Product</h3> </li>
            
            <li class="lists"> <h3 class="inline12">3 - First Reserves and then start Placing an Order.</h3></li>

            <li class="lists"> <h3 class="inline12">4 - Refunds processing time: 24 - 72 Working hours</h3></li>

            <li class="lists"> <h3 class="inline12">5 - In case of review deletion, seller feedback can only be given upon approval by PMM . No commission</h3> </li>

            <li class="lists"> <h3 class="inline12">6 - One buyer can buy only one product from same store. Extra order of same buyer from same stare won't be accepted.</h3> </li>

            <li class="lists"> <h3 class="inline12">7 - Monthly commission payouts, Refund time is 24-72 hrs excluding weekends.</h3> </li>

            <li class="lists"> <h3 class="inline12">8 - Sub sourcing is strictly prohibited. Prior permission for sub sourcing is necessary.</h3> </li>

            <li class="lists"> <h3 class="inline12">9 - After taking order, Attache the order screenshot, order number,  paypal and submit the order.  </h3></li>

            
            <li class="lists"> <h3 class="inline12">10 - You will have to do a minimum of 5 orders in a month to stay in team. Good Luck!</h3></li>

        </ul>



    </div>



</body>
</html>