<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Slide Show</title>
</head>
<body>
    <div>
        <img class="mySlides" src="img_snowtops.jpg">
        <img class="mySlides" src="img_lights.jpg">
        <img class="mySlides" src="img_mountains.jpg">
        <img class="mySlides" src="img_forest.jpg">
    </div>
</body>
</html>