{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Form</title>
    <link rel="stylesheet" href="{% static 'CSS/Product.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/base.css' %}">
</head>
<body>


    <div class="navbar">
        <div class="container1" id="dropdown">
            <button class="dropbtn">Menu
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/HomepagePM">Home</a>
              <a href="/productadd">Product Add</a>
              <a href="/ProductPM">Products</a>
              <a href="/OrderPM">Orders</a>
              <a href="/Commission Sheet PM">Commission</a>
              <a href="/ReservationPM">Reservation</a>
              <a href="/User Profile PM">User Profile</a>
            
            </div>
          </div>

        <div class="container1" id="container1">
            <li class="inline">    
                <a href="#">Contact US</a> 
                
            </li>
            <li class="inline">|</li>
            <li class="inline">
                <a  href="#">Sign Up</a>
            </li>
            <li class="inline">|</li>
            <li class="inline">
                <a  href="#">Training Guide</a>
            </li>
        </div>
        
    </div> 

</body>
</html>